@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html {
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.paleta {
  color: #00152b;
  color: #052442;
  color: #004f92;
  color: #0059ff;
  color: #0085ec;
  color: #7b8494;
}
::-webkit-scrollbar {
  display: none;
}